<!DOCTYPE html>
<html>
<body>

<h2>UI Test : RoRobot Framework</h2>

<form action="http://www.google.com">
  <h1>GO to google<h1>
  <input type="submit" value="google" id="google">
</form> 

</br>
</br>

<form action="http://www.youtube.com">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="youtube" id="youtube">
</form> 

</body>
</html>


